replicaCount: 1

updateStrategy:
  type: RollingUpdate

network: preview

# Optional custom peer address. If not set, a default public peer will be used.
peerAddress: ""

# Dolos configuration
image:
  repository: ghcr.io/txpipe/dolos
  tag: v0.32.0
  pullPolicy: IfNotPresent

podAnnotations: {}
podLabels: {}

resources:
  limits:
    cpu: "1"
    memory: "512Mi"
  requests:
    cpu: "500m"
    memory: "256Mi"
ports:
  grpc: 50051
  ouroboros: 30013
  # Mini-Blockfrost API
  minibf: 3001

service:
  # Optional custom service name. If not set, release name will be used.
  name: ""
  ports:
    grpc: 15051
    ouroboros: 13013
    # Mini-Blockfrost API
    minibf: 13001

storage:
  # Mainnet requires at least 500Gi
  size: 50Gi
  # storageClassName: gp

tolerations: []

affinity: {}
# Example:
# affinity:
#   podAntiAffinity:
#     requiredDuringSchedulingIgnoredDuringExecution:
#       - labelSelector:
#           matchExpressions:
#             - key: "app.kubernetes.io/name"
#               operator: In
#               values:
#                 - dolos
#         topologyKey: "kubernetes.io/hostname"

# Socat sidecar configuration
socat:
  image:
    repository: "alpine/socat"
    tag: "1.8.0.3"
    pullPolicy: IfNotPresent
  resources: {}

# Dolos specific configuration values
configmap:
  logging:
    max_level: "debug"
    include_tokio: false
    include_pallas: false
    include_grpc: true
    include_trp: false
    include_minibf: false
  storage:
    version: "v1"
    wal_size: 1000
  submit:
    prune_height: 200
  sync:
    pull_batch_size: 100
