---
apiVersion: v1
kind: Service
metadata:
  labels:
{{ include "cardano-node.labels" . | indent 4 }}
  name: {{ include "cardano-node.fullname" . }}
  {{- with .Values.service.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
  {{- end }}
spec:
  ports:
  - name: ntn
    port: {{ .Values.service.ports.ntn.port }}
    protocol: TCP
    targetPort: {{ .Values.service.ports.ntn.targetPort }}
  - name: socat-ntc
    port: {{ .Values.service.ports.socatNtc.port }}
    protocol: TCP
    targetPort: {{ .Values.service.ports.socatNtc.targetPort }}
  - name: metrics
    port: {{ .Values.service.ports.metrics.port }}
    protocol: TCP
    targetPort: {{ .Values.service.ports.metrics.targetPort }}
  selector:
    cardano_network: {{ include "cardano-node.network" . }}
    app.kubernetes.io/name: {{ include "cardano-node.fullname" . }}
  sessionAffinity: ClientIP
  type: {{ .Values.service.type }}
