---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}
  {{- if .Values.serviceAccount.annotations }}
  annotations: {{- toYaml .Values.serviceAccount.annotations | nindent 4 }}
  {{- end }}
  labels: {{- include "dingo.labels" . | nindent 4 }}
